@media (max-width: 576px) {
    .col-xs-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-xs-1 {
        flex: 0 0 auto;
        width: 8.3333333333%;
    }

    .col-xs-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .col-xs-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-xs-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .col-xs-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }

    .col-xs-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-xs-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
    }

    .col-xs-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

    .col-xs-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-xs-10 {
        flex: 0 0 auto;
        width: 83.3333333333%;
    }

    .col-xs-11 {
        flex: 0 0 auto;
        width: 91.6666666667%;
    }

    .col-xs-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .container {
        max-width: 100%;
        width: 100%;
    }

    .services {
        background: #e1e1e1;
        height: unset !important;
        padding-top: 6rem
    }
    menu .menu-back{
        background: transparent !important;
    }

    .consultations .whatsapp .back-what {
        height: 17rem;
        width: 17rem;
        background: linear-gradient(#0074ba, #f8a81b);
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .consultations .whatsapp .back-what img {
        animation: ringing 7s ease infinite;
        display: flex;
        width: 75%;
        margin: auto;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 100% 100%;
    }

    .line-1,
    .line-2,
    .line-3 {
        position: absolute;
        top: 105px;
        left: 200px;
    }

    .line-4,
    .line-5,
    .line-6 {
        position: absolute;
        top: 105px;
        right: 200px;
    }

    .scrollsr {
        overflow: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        -webkit-scrollbar-width: none;
        -moz-scrollbar-width: none;
        -ms-scrollbar-width: none;
        scrollbar-width: none;
    }

    .scrollsr  a {
        display: inline-block;
        text-align: center;
        padding: 0;
        text-decoration: none;
        width: 15rem;

    }

    .services .service-in .service-inner-xs .over1 {
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: #f9a81b;
        opacity: 0.7;
        transition: 0.5s;
        white-space: normal;
        height: 15rem;
    }
    .services .service-in .service-inner-xs .over1 p{
        color: #fff;
    }
    .services .title-service {
        width: 100%;
        margin: auto;
    }
    menu .menu .right {
        border-right: 0 !important;
    }

    menu .menu .right li {
        display: inline-block;
        border-left: 0 !important;
        border-top: 1px solid #e1e1e1;
    }

    menu .menu li {
        display: inline-block;
        border-right: 0 !important;
    }
    menu .menu .right li a img {
        width: 40% !important;
        margin: auto;
        display: flex;
    }
    .carousel-caption {
        position: absolute;
        bottom: 30% !important;
        margin: auto;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
        width: 80%;
        left: 0;
        right: 0;
    }
    .header {
        height: auto !important;
        position: relative;
    }
    .scrollmenu {
        overflow: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        -webkit-scrollbar-width: none;
        -moz-scrollbar-width: none;
        -ms-scrollbar-width: none;
        scrollbar-width: none;
        padding-bottom: 0.75rem;
    }

    .scrollmenu a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 0;
        text-decoration: none;
        width: 10rem;
    }
    .menu-1st {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3.5rem;
        width: 100%;
        margin: auto;
    }
    .menu-1st .menu-in:hover {
        display: block;
    }
    .bird-container {
        position: absolute;
        top: -35%;
        left: -10%;
        transform: scale(0) translateX(-10vw);
        will-change: transform;
        animation-name: fly-right-one;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    .flying {
        z-index: 1;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 2.5rem;
        background-blend-mode: soft-light;
        background-size: cover;
        background-position: center center;
        background: #e1e1e1;
    }
    .consultations {
        background-image: url('../images/cosultations.png');
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 5rem;
    }
    .consultations .boxes-con .box-in {
        width: 4rem;
        height: 4rem;
        margin: auto;
        border-radius: 50%;
        background: linear-gradient(#0074ba, #f8a81b);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
    }
    .news {
        margin-top: 2rem;
    }
    .life .life-in {
        padding-top: 9rem;
    }
    .costumer .costumer-in {
        border: 1px solid #e1e1e1;
        padding-top: 40px;
        text-align: center;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 20px;
    }

    .header-inner .des-inner{
        width: 100%;
        margin: auto;
        padding: 8px;
    }
    .detail .description img{
        width: 100% !important;
        margin-top: 2% !important;
        margin-bottom: 2% !important;
        margin-left: 0% !important;
        margin-right: 0% !important;
    }
    .detail-blog .description img{
        width: 100% !important;
        margin-top: 2% !important;
        margin-bottom: 2% !important;
        margin-left: 0% !important;
        margin-right: 0% !important;
    }
    .detail .related .related-box img{
        width: 50%;
        display: flex;
        margin: auto;

    }
    .detail-blog .tag-relate{
        display: block;
    }
    .about img{
        width: 100% !important;
        display: flex;
        margin: 2% auto;
        height: 14rem !important;
    }
}
@media (max-width:400px) {
    .header-inner{
        background-image: url('../images/dakheli-mobile.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 10rem;
        height: 17rem;
    }
}
@media (min-width:400px) and (max-width:576px) {
    .header-inner{
        background-position: center;
    }
}
