@font-face {
    font-family: 'iran';
    font-style: normal;
    src: url("../fonts/IRANSansWeb\(FaNum\).eot");
    src: url("../fonts/IRANSansWeb\(FaNum\).eot") format("embedded-opentype"), url("../fonts/IRANSansWeb\(FaNum\).woff") format("woff2"), url("../fonts/IRANSansWeb\(FaNum\).woff") format("woff"), url("../fonts/IRANSansWeb\(FaNum\).ttf") format("truetype");
}

body {
    font-family: 'iran';
}

.text-justify {
    text-align: justify;
}
.h-60{
    height: 4rem;
}
@media (min-width: 1400px) {
    .container {
        max-width: 75%;
        width: 75%;
    }
    .header-inner{
        background-image: url('../images/ukrain-dakheli3453454.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 13rem !important;
        height: 24rem !important;
    }
    .blog-list .blog-box{
        height: 100% !important;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .container {
        max-width: 85%;
        width: 85%;
    }
    .blog-list .blog-box{
        height: 100% !important;
    }

}

@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        max-width: 95%;
        width: 95%;
    }
    .services {
        background: #e1e1e1;
        padding-top: 6rem
    }
    .costumer .costumer-in {
        border: 1px solid #e1e1e1;
        padding-top: 40px;
        text-align: center;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 20px;
    }
    .detail .description img{
        width: 70% !important;
        margin-top: 2% !important;
        margin-bottom: 2% !important;
        margin-left: 15% !important;
        margin-right: 15% !important;
    }
    .detail-blog .description img{
        width: 70% !important;
        margin-top: 2% !important;
        margin-bottom: 2% !important;
        margin-left: 15% !important;
        margin-right: 15% !important;
    }
    .blog-list .blog-box{
        height: 100% !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .container {
        max-width: 95%;
        width: 95%;
    }
    .services {
        background: #e1e1e1;
        padding-top: 6rem
    }
    .costumer .costumer-in {
        border: 1px solid #e1e1e1;
        padding-top: 40px;
        text-align: center;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 20px;
    }
    menu .menu li {
        display: inline-block;
        border-right: 0 !important;
    }
    .detail .description img{
        width: 80% !important;
        margin-top: 2% !important;
        margin-bottom: 2% !important;
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
    .detail-blog .description img{
        width: 80% !important;
        margin-top: 2% !important;
        margin-bottom: 2% !important;
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
    .blog-list .blog-box{
        height: 100% !important;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .container {
        max-width: 95%;
        width: 95%;
    }
    .services {
        background: #e1e1e1;
        padding-top: 6rem
    }
    .costumer .costumer-in {
        border: 1px solid #e1e1e1;
        padding-top: 40px;
        text-align: center;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 20px;
    }
    menu .menu-back{
        background: transparent !important;
    }
    .header-inner{
        background-image: url('../images/ukrain-dakheli3453454.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 14rem;
        height: 20rem;
        background-position: center;
    }
    .detail .description img{
        width: 100% !important;
        margin-top: 2% !important;
        margin-bottom: 2% !important;
        margin-left: 0% !important;
        margin-right: 0% !important;
    }
    .detail-blog .description img{
        width: 100% !important;
        margin-top: 2% !important;
        margin-bottom: 2% !important;
        margin-left: 0% !important;
        margin-right: 0% !important;
    }
    .blog-list .blog-box{
        height: 100% !important;
    }
}

.bg-one {
    background: #003352 !important;
}

.text-one {
    color: #0074ba !important;
}
.bg-two{
    background: #f9a81b;

}
.text-two{
    color: #f9a81b;
}
.btn-custom{
    background: #fff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
    color: #f9a81b;
    border-radius: 8px;
    transition: 0.5s;

}
.btn-custom:hover{
    color: #f9a81b;
}

a {
    text-decoration: none !important;
}

menu {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1200;
}

menu .menu .right {
    border-right: 1px solid #222;
}

menu .menu .right li {
    display: inline-block;
    border-left: 1px solid #000;
}

menu .menu li {
    display: inline-block;
    border-right: 1px solid #000;
}

menu .menu ul li a img {
    height: 20px;
}

menu .menu li a {
    font-size: 12px;
}

menu .menu li a span {
    color: #1dd2b1;
}
menu .menu-back{
    background: #003352;
}
.menu-inner{
    top: 3.25rem;
    z-index: 2000;
}
.menu-inner a{
    color: #606060;
    padding-right: 0 !important;
    padding-left: 30px !important;
    transition: 0.3s;
    padding-top: 0.35rem !important;
    padding-bottom: 0.35rem !important;
}
.menu-inner a:hover{
    color: #fff;
}

.navbar-toggler:focus{
    border: 0 !important;
    box-shadow: none !important;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1200;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 10px 8px 10px;
    text-decoration: none;
    font-size: 20px;
    color: #0074ba;
    display: flex;
    align-items: center;
    transition: 0.3s;
    font-weight: 700;
}

.sidenav a:hover {
    color: #01446e;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.header {
    height: 100vh;
    position: relative;
}

.header .carousel .carousel-item img {
    height: 100vh;
}
.header-inner{
    background-image: url('../images/ukrain-dakheli3453454.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 14rem;
    height: 22rem;
}
.header-inner .des-inner{
    width: 85%;
    margin: auto;
}
.content{
    background: #fefefe;
}

.carousel-control-prev-icon {
    background-image: url('../images/right-arrow-angle.png');
}

.carousel-control-next-icon {
    background-image: url('../images/left-chevron.png');
}

.carousel-caption {
    position: absolute;
    bottom: 35% !important;
    margin: auto;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    width: 40%;
}

.menu-1st {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3.5rem;
    width: 85%;
    margin: auto;
}

.menu-1st .menu-in {
    border: 0;
    position: relative;
    -webkit-transition: all 0.5s ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 0.5s ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 0.5s ease-in;
    -moz-transform: scale(1);
    transition: all 0.3s ease-in;
    transform: scale(1);
    background-image: linear-gradient(0deg, #e5e5e5, #fff);
    border: 1px solid #d5d5d5;
    padding: 15px;
    z-index: 2;
    border-bottom: 8px solid #0074b9;
    height: 11rem;
    color: #707070;
}

.menu-1st .menu-in:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.3s ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 0.3s ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 0.3s ease-in;
    -moz-transform: scale(1.5);
    transition: all 0.3s ease-in;
    transform: scale(1.1);
    z-index: 99999;
    background-image: linear-gradient(0deg, #e5e5e5, #fff);
    border-bottom: 12px solid #f9a81b;
    color: #f9a81b;
}

.menu-1st .menu-in figure {
    height: 6rem;
}

.menu-1st .menu-in figure .img-sr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.menu-1st .menu-in figure .img-sr img {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 50%;
}

.menu-1st .menu-in .title-sr {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;

}

.services {
    background: #e1e1e1;
    padding-top: 6rem
}

.services .service-in {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.services .service-in .service-inner {
    position: relative;
    height: 17.55rem;
    background-size: cover;
    -webkit-transition: all 0.5s ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 0.5s ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 0.5s ease-in;
    -moz-transform: scale(1);
    transition: all 0.3s ease-in;
    transform: scale(1);
    z-index: 2;
    transition: 0.5s;
}

.services .service-in .service-inner:hover {
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.3s ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 0.3s ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 0.3s ease-in;
    -moz-transform: scale(1.5);
    transition: all 0.3s ease-in;
    transform: scale(1.1);
    z-index: 99999;
}

.services .service-in .service-inner .over1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9a81b;
    opacity: 1;
    transition: 0.5s;
}

.services .service-in .service-inner:hover .over1 {
    opacity: 0 !important;
}

.services .service-in .service-inner .over2 {
    position: absolute;
    padding: 8px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(#0074ba, #f8a81b);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
    font-size: 12px;

}

.services .service-in .service-inner .over2 .btn-more {
    background: #fff;
    color: #f8a81b;
    opacity: 1;
    font-size: 14px;
}

.services .service-in .service-inner .over2 .btn-more:hover {
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.services .service-in .service-inner:hover .over2 {

    opacity: 0.9;

}

.services .title-service {
    width: 60%;
    margin: auto;
}

@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');

.flying {
    z-index: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 8rem;
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center center;
    background: #e1e1e1;
}

.bird {
    background-image: url('../images/bird-cells-new.svg');
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;
    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
}

.bird--one {
    animation-duration: 1s;
    animation-delay: -0.5s;
}

.bird--two {
    animation-duration: 0.9s;
    animation-delay: -0.75s;
}

.bird--three {
    animation-duration: 1.25s;
    animation-delay: -0.25s;
}

.bird--four {
    animation-duration: 1.1s;
    animation-delay: -0.5s;
}

.bird-container {
    position: absolute;
    top: 20%;
    left: -10%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;
    animation-name: fly-right-one;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.bird-container--one {
    animation-duration: 15s;
    animation-delay: 0s;
}

.bird-container--two {
    animation-duration: 16s;
    animation-delay: 1s;
}

.bird-container--three {
    animation-duration: 14.6s;
    animation-delay: 2.5s;
}

.bird-container--four {
    animation-duration: 16s;
    animation-delay: 3.25s;
}

@keyframes fly-cycle {
    100% {
        background-position: -900px 0;
    }
}

@keyframes fly-right-one {
    0% {
        transform: scale(0.3) translateX(-10vw);
    }

    10% {
        transform: translateY(2vh) translateX(10vw) scale(0.4);
    }

    20% {
        transform: translateY(0vh) translateX(30vw) scale(0.5);
    }

    30% {
        transform: translateY(4vh) translateX(50vw) scale(0.6);
    }

    40% {
        transform: translateY(2vh) translateX(70vw) scale(0.6);
    }

    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.6);
    }

    60% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
    }

    100% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
    }
}

@keyframes fly-right-two {
    0% {
        transform: translateY(-2vh) translateX(-10vw) scale(0.5);
    }

    10% {
        transform: translateY(0vh) translateX(10vw) scale(0.4);
    }

    20% {
        transform: translateY(-4vh) translateX(30vw) scale(0.6);
    }

    30% {
        transform: translateY(1vh) translateX(50vw) scale(0.45);
    }

    40% {
        transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
    }

    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.45);
    }

    51% {
        transform: translateY(0vh) translateX(110vw) scale(0.45);
    }

    100% {
        transform: translateY(0vh) translateX(110vw) scale(0.45);
    }
}

.consultations {
    background-image: url('../images/cosultations.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 17rem;
}

.consultations .des {
    line-height: 1.65;
}

.consultations .boxes-con .box-in {
    width: 5rem;
    height: 5rem;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(#0074ba, #292d2e);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.contact .boxes-con .box-in:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.contact .boxes-con .box-in {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: linear-gradient(#0074ba, #f8a81b);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.consultations .boxes-con .box-in:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.consultations .whatsapp .back-what {
    height: 23rem;
    width: 23rem;
    background: linear-gradient(#0074ba, #f8a81b);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.consultations .whatsapp .back-what img {
    animation: ringing 7s ease infinite;
}

.line {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
}

.line-1,
.line-2,
.line-3 {
    position: absolute;
    top: 170px;
    left: 270px;
}

.line-4,
.line-5,
.line-6 {
    position: absolute;
    top: 170px;
    right: 270px;
}

.line-1 {
    animation: line-1 3s ease-out infinite both;
}

.line-2 {
    animation: line-2 3s ease-out infinite both;
}

.line-3 {
    animation: line-3 3s ease-out infinite both;
}

.line-4 {
    animation: line-4 3s ease-out infinite both;
}

.line-5 {
    animation: line-5 3s ease-out infinite both;
}

.line-6 {
    animation: line-6 3s ease-out infinite both;
}

@keyframes line-1 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
    }

    50%,
    100% {
        transform: translate3d(60px, 0, 0) scale(2);
        opacity: 0;
    }
}

@keyframes line-2 {

    0%,
    19% {
        opacity: 0;
    }

    20% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
    }

    70%,
    100% {
        transform: translate3d(60px, 0, 0) scale(2);
        opacity: 0;
    }
}

@keyframes line-3 {

    0%,
    39% {
        opacity: 0;
    }

    40% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
    }

    90%,
    100% {
        transform: translate3d(60px, 0, 0) scale(2);
        opacity: 0;
    }
}

@keyframes line-4 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
    }

    50%,
    100% {
        transform: translate3d(-60px, 0, 0) scale(2);
        opacity: 0;
    }
}

@keyframes line-5 {

    0%,
    19% {
        opacity: 0;
    }

    20% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
    }

    70%,
    100% {
        transform: translate3d(-60px, 0, 0) scale(2);
        opacity: 0;
    }
}

@keyframes line-6 {

    0%,
    39% {
        opacity: 0;
    }

    40% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
    }

    90%,
    100% {
        transform: translate3d(-60px, 0, 0) scale(2);
        opacity: 0;
    }
}

@keyframes ringing {

    0%,
    50%,
    100% {
        transform: rotate(0deg);
    }

    5%,
    10%,
    15%,
    20%,
    30%,
    35%,
    40% {
        transform: rotate(0deg);
    }

    45% {
        transform: rotate(4deg);
    }

    7.5%,
    12.5%,
    17.5%,
    22.5%,
    27.5%,
    32.5%,
    37.5%,
    42.5% {
        transform: rotate(-5deg);
    }

    47.5% {
        transform: rotate(-1deg);
    }
}

.news {
    margin-top: 5rem;
}

.news .news-in {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.news .news-in .news-inner {
    position: relative;
    height: 17.55rem;
    background-size: cover;
    -webkit-transition: all 0.5s ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 0.5s ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 0.5s ease-in;
    -moz-transform: scale(1);
    transition: all 0.3s ease-in;
    transform: scale(1);
    z-index: 2;
    transition: 0.5s;
}

.news .news-in .news-inner:hover {
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.3s ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 0.3s ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 0.3s ease-in;
    -moz-transform: scale(1.5);
    transition: all 0.3s ease-in;
    transform: scale(1.1);
    z-index: 99999;
}

.news .news-in .news-inner .over1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #f9a81b;
    opacity: 1;
    transition: 0.5s;
    padding: 8px;
}

.news .news-in .news-inner .over1 p {
    font-size: 12px;
    line-height: 1.65;
}

.news .news-in .news-inner:hover .over1 {
    opacity: 0 !important;
}

.news .news-in .news-inner .over2 {
    position: absolute;
    padding: 8px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(#0074ba, #f8a81b);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
    font-size: 12px;

}

.news .news-in .news-inner .over2 .btn-more {
    background: #fff;
    color: #f8a81b;
    opacity: 1;
    font-size: 14px;
}

.news .news-in .news-inner .over2 .btn-more:hover {
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.news .news-in .news-inner:hover .over2 {

    opacity: 0.9;

}

.des-news {
    font-size: 13px;
    line-height: 1.65;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.news .news-in .btn-more {
    background: #fac25f;
    color: #fff;
    opacity: 1;
    font-size: 14px;
}

.life {
    background-image: url('../images/back-news.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -9rem;
    height: 100vh;
}

.life .life-in {
    padding-top: 15rem;
}

.life .life-in p {
    line-height: 1.75;
}

.life .life-in .btn-life {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #4f9ecf;
    color: #fff;
    box-shadow: 0 5px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    font-weight: 700
}

.costumer .costumer-in {
    border: 1px solid #e1e1e1;
    padding-top: 40px;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
}



.costumer .costumer-in:hover .box-costumer{
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.2);
}

.costumer .costumer-in:hover .box-costumer .img-box{
    background: #f9a81b;
}
.costumer .costumer-in:hover .box-costumer .img-box img{
    filter: unset !important;
}
.costumer .costumer-in:hover h5{
    color: #0074ba;
}
.costumer .costumer-in h5{
    transition: 0.5s;
    color: #000;
}
.costumer .costumer-in p{
    font-size: 13px;
    color: #888;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}


.costumer .costumer-in .box-costumer {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    border-radius: 17px;
    padding: 8px;
    margin: auto;
    left: 0;
    right: 0;
    top: -2rem;
    transition: 0.5s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.costumer .costumer-in .box-costumer .img-box {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 13px;
    transition: 0.5s;
}
.costumer .costumer-in .box-costumer .img-box img{
    filter: brightness(0) saturate(100%) invert(67%) sepia(75%) saturate(954%) hue-rotate(346deg) brightness(101%) contrast(95%);
}
.detail .description img{
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
}
.detail-blog .description img{
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
}
footer .footer-top .footer-box:hover{
    background: #0074ba ;
}
footer .footer-top .footer-box{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #7f7f7f;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer-top .footer-box .bi{
    color: white;
}
footer .footer-bottom{
    background: #000;
}
footer .footer-bottom ul li a{
    color: #999;
    transition: 0.5s;
}
.en footer .footer-bottom ul{
    padding-left: 1rem !important;
    padding-right: 0 !important;
}
footer .footer-bottom ul li a:hover{
    color: #f8a81b;
    margin-right: 5px;
}
.en footer .footer-bottom ul li a:hover{
    color: #f8a81b;
    margin-left: 5px;
}
footer .footer-bottom ul li {
    color: #999;
}
footer .footer-bottom span{
    color: #999;
}
footer .footer-bottom span a{
    color: #f8a81b;
}

.detail .related .related-box{
    color: #000;
    transition: 0.5s;
    border-radius: 17px;
}
.detail .related .related-box:hover{
    color: #0074ba;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}
.detail-blog .related .related-box{
    color: #000;
    transition: 0.5s;
}
.detail-blog .related .related-box:hover{
    color: #0074ba;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}
.detail .related .related-box .border-box{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    padding: 8px;
    margin: auto;
    left: 0;
    right: 0;
    top: -2rem;
    transition: 0.5s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.detail .related .related-box .img-box{
    border-radius: 10px;
    background: #f8a81b;
    padding: 8px;
    transition: 0.5s;
}
.detail .related .related-box img{
    width: 75%;
    display: flex;
    margin: auto;

}
.detail-blog .related .related-box img{
    width: 100%;
    display: flex;
    margin: auto;
    height: 100%;

}
.detail .sticky{
    position: sticky;
    top: 1rem;
}
.detail-blog .sidebar{
    position: sticky;
    top: 1rem;
}
.detail .cat-side .cat-box{
    transition: 0.5s;
    border-bottom: 1px solid #ccc;
}
.detail .cat-side .cat-box:hover{
    margin-left: 5px;
}
.detail .description p{
    text-align: justify;
    line-height: 1.75;
}
.detail-blog .cat-side .cat-box{
    transition: 0.5s;
    border-bottom: 1px solid #ccc;
}
.detail-blog .cat-side .cat-box:hover{
    margin-left: 5px;
}
.detail-blog .share a{
    background: #ececec;
    padding: 8px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #707070;
    transition: 0.5s;
    border-radius: 10px;
}
.detail-blog .share .share-list{
    flex-wrap: wrap;
}
.detail-blog .share a:hover{
    color: #f9a81b;
}
.detail-blog .description p{
    text-align: justify;
    line-height: 1.75;
}
.blog-list .blog-box figure{
    height: 12rem;
}
.blog-list .blog-box figure .img-box{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.blog-list .blog-box figure .img-box img{
    display: inline-block;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
.cat-list .blog-box figure{
    height: 12rem;
}
.cat-list .blog-box figure .img-box{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.cat-list .blog-box figure .img-box img{
    display: inline-block;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
.detail-blog .tags .tag-box{
    background: #ececec;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: 0.5s;
    border-radius: 15px;
}
.detail-blog .tag-box{
    background: #ececec;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: 0.5s;
    border-radius: 15px;
    font-size: 12px !important;
}
.detail-blog .tags .tag-box:hover{
    background: #0074ba;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
}
.detail-blog  .tag-box:hover{
    background: #0074ba;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
}
.detail-blog .tags .tag-list a{
    display: inline-block;
    margin: 5px;
}
.detail-blog .tag-list a{
    display: inline-block;
    margin: 3px;
}
.detail-blog .tags .tag-list{
    display: flex;
    flex-wrap: wrap;

}
.detail-blog .tag-relate{
    display: flex;
    align-items: center;
}
.detail-blog .btn-like{
    background: #ececec;
}
.detail-blog .form-comment input:focus,.detail-blog .form-comment textarea:focus{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
.btn-comment{
    background: #0074ba;
    color: #fff;
}
.detail-blog .form-comment{
    background: #f6f6f6;
}
.btn-comment:hover{
    background: #fff;
    color: #0074ba;
    border: 1px solid #0074ba;
}
.detail-blog .comment .header-cm img{
    border-radius: 50%;
    margin-right: -35px;
    width: 50px;
    height: 50px;
}
.detail-blog .comment .header-cm{
    display: flex;
    align-items: center;
}
.detail-blog .comment .header-cm span{
    font-size: 12px;
    color: #999;
}
.detail-blog .comment .header-cm .text-cm{
    background: #f6f6f6;
}
.detail-blog .comment .header-cm .name-cm::after{
    content: "";
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 15px solid #f6f6f6;
    border-bottom: 15px solid transparent;
    right: -10px;
    top: 40px;
}
.detail-blog .btn-reply{
    color: #f8a81b;
    padding: 0;
}
.detail-blog .btn-reply:focus{
    box-shadow: none !important;
    border: 0;
}
.blog-list .img-box img {
    left: 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.blog-list .img-box .caption {
    background: linear-gradient(#0074ba, #f8a81b);
    position: absolute;
    color: #fff;
    padding:5px;
    z-index: 100;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .5s ease-out;
    left: 0;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-list .img-box h5{
    opacity: 1;
    z-index: 1200;
    transition: 0.5s;
}
.cat-list .img-box img {
    left: 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.cat-list .img-box .caption {
    background: linear-gradient(#0074ba, #f8a81b);
    position: absolute;
    color: #fff;
    padding:5px;
    z-index: 100;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .5s ease-out;
    left: 0;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cat-list .img-box h5{
    opacity: 1;
    z-index: 1200;
    transition: 0.5s;
}
.img-box.fullup-me .caption {
    width: 100%;
    height: 100%;
    top: 0;
    padding: 15px;
}
.blog-list .blog-box:hover .caption {
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    opacity: 0;
    transform: translateY(0%);
}
.blog-list .blog-box:hover h5{
    opacity: 0;
}
.cat-list .img-box:hover .caption {
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    opacity: 0;
    transform: translateY(0%);
}
.cat-list .img-box:hover h5{
    opacity: 0;
}
.blog-list .blog-box .title-blog span{
    font-size: 12px;
}
.blog-list .blog-box .text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.cat-list .blog-box .title-blog span{
    font-size: 12px;
}
.about img{
    width: 100%;
    display: flex;
    margin: 2% auto;
    height: 17rem;
}
.about p{
    line-height: 1.75;
}
.cat-list .cat ul li a{
    color: #000;
    padding: 0.25rem;
    border-bottom: 1px solid #dbdbdb;
    transition: 0.5s;
    position:relative;
}
.cat-list .cat ul li a:hover {
    padding-right: 10px;
    color: #f9a81b;
}
.costumer .description{
    height: 15rem;
    overflow-y: scroll;
    scrollbar-width: none;
    line-height: 1.75;
}
.costumer .description p{
    text-align: justify;
}
.costumer .description::-webkit-scrollbar{
    display: none;
}
.en .logo{
    left: unset !important;
    right: 0 !important;
}
.cat-list .cat ul li a:hover i{
    left:8px;
    opacity:1;
}
.cat-list .cat ul li a i{
    content:"";
    left: -6%;
    transition: 0.5s;
    opacity:0;
    color:#F9A864;
    position:absolute;
}
.en{direction: ltr}
.en .en-menu{margin-left: 0 !important;margin-right: auto !important;}
.en .en-nav{margin-right: 0 !important;margin-left: auto !important;}
.en menu .menu li{border-right: 0 !important;border-left: 1px solid #000 !important;}
.en .logo{left: unset !important;right: 0 !important;}
.en .life{
    margin-top: 5rem;
}
